<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th>Codigo</th>
            <th>importancia</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Nit</th>
            <th>Fecha</th>
        </thead>
        <tbody>
            <tr th:each="v : ${contribuyentes}">
                <td th:text="${v.codigoContribuyente}"></td>
                <td th:text="${v.importancia.sImportancia}"></td>
                <td th:text="${v.nombre}"></td>
                <td th:text="${v.apellido}"></td>
                <td th:text="${v.nit}"></td>
                <td th:text="${v.fechaIngreso}"></td>
            </tr>   
        </tbody>
    </table>

</body>
</html>